<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home_style.css">
</head>
<body>
<header>
    <div class="main">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="get_wind_speed">Wind Speed</a></li>
            <li><a href="get_temperature">Temperature</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>Oops! Something went wrong!</h1>
        <p1>Check that the AerisWeather Access ID and Secret Key are correct and that your subscription to AerisWeather API has not ended.</p1>
    </div>
</header>
</body>
</html>