<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Provides the current temperature and wind speed and a forecast map for each when a zip code is entered.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Web App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home_style.css">
</head>
<body>
<header>
    <div class="main">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="get_wind_speed">Wind Speed</a></li>
            <li><a href="get_temperature">Temperature</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>Weather Web App</h1>
        <p1>Click top right to find the wind speed or temperature.</p1>
    </div>
</header>
</body>
</html>